body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(44, 102, 44);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 220, 220);
}

main{
    display: flex;
    justify-content: center;
    align-items: justify;
    flex-direction: row;
}

canvas{
    border-radius: 20px;
    border: 5px solid black;
}

h1{
    font-size: 40px;
    margin: 2.5%;
}

#jogo{
    margin: 0% 5.5% 1% 10.5%;
}

#pontuacao{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-left: 5%;
}

#pontos{
    font-family: 'Roboto', 'Consolas';
    font-size: 40px;
}

#instrucoes{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}   